{% extends "themes/base_visitor.html.twig"%}

{% block title %} Blog {% endblock %}

{% block description %}Bienvenue dans mon blog.{% endblock %}

{% block keywords %} blog, liste, articles {% endblock %}

{% block main %}
    <h1 class = "text-center my-3 display-5">Liste des articles</h1>
{% endblock %}