{% extends "themes/base_visitor.html.twig"%}

{% block title %} Accueil {% endblock %}

{% block description %}Hello, c'est Jean-Dupont. Lisez des articles passiobnants sur le bien-être et la santé.{% endblock %}

{% block keywords %} blog, accueil, articles {% endblock %}

{% block main %}
    <h1 class = "text-center my-3 display-5">Hello JD</h1>
{% endblock %}